.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

.login .form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(31, 31, 31);
  width: 500px;
  padding: 50px 0;
  border-radius: 15px;
}

.login .form-login .input-box {
  display: flex;
  flex-direction: column;
  width: 60%;
  font-size: 17px;
  margin: 10px 0;
}

.login .form-login .input-box .input {
  color: black;
  margin-top: 10px;
  font-size: 17px;
  padding: 7px;
}

.login .form-login .submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  font-size: 17px;
  margin-top: 20px;
  padding: 7px;
  background-color: rgb(111, 9, 27);
  border: none;
  color: white;
}

.login .form-login .button-to-register {
  display: flex;
  align-items: center;
}

.login .form-login .button-to-register p {
  padding-right: 10px;
}

.login .form-login .button-to-register .link {
  color: rgb(255, 30, 63);
}
